extends layout

block content
  div.jumbotron
    h1= title
    p Seja bem vindo ao sistema de projetos #{title}
    if (typeof(user) !== 'undefined')
      if user.username
        p.small.text-success Você está logado como #{user.username}
        a.btn.btn-info(href="/todosJobs") Ver Projetos
        span &nbsp;ou    
        a.btn.btn-warning(href="/logout") Logout
    else
      a.btn.btn-info(href="/login") Login 
      span   ou 
      a.btn.btn-success(href="/signup") Assine
    p.text-danger.small
      br
      !=message
    