extends layout

block content
  div.page-header
    h1= title
    h3
      !=message
  - var caminho1 = '/projetosave'
  - var caminho2 = '/novoProjeto'
  form(id="novoProjeto", method="post", action=(editmode ? caminho1 : caminho2))
    div.form-group
      label(for="nome") Nome do Projeto  
      input#nome.form-control(type="text", name="nome" value=(editmode ? docs.nome : false))
    div.form-group
      label(for="cliente") E-Mail do Cliente  
      input#cliente.form-control(type="email", required, name="cliente" value=(editmode ? docs.cliente : false))
    div.form-group
      label(for="deadline") Prazo de Entrega  
      input#deadline.form-control(type="date", name="deadline" value=(editmode ? docs.deadline : false))
    div.form-group
      label(for="briefing") Briefing/Descrição  
      textarea#briefing.form-control(type="text", name="briefing" spellcheck="true" rows="8")
        !=editmode ? docs.briefing : Digite
    div.form-group
      input#ide.form-control(type="hidden", name="ide" value=(editmode ? docs._id : false))
    input.btn.btn-info(type="submit", value="Salvar")